<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=https://open.spotify.com/show/19O8JqKPSbQWek15vG3sig?si=065cd2ef2c294d09">
    <title>Cinematen.be</title>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KZ3KYRB0T1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-KZ3KYRB0T1');
    </script>
    <meta name="google-site-verification" content="Ue-nOWKl8b37dpA_44eTIqresdKx1GF8BO1BEfSXwg4" />
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        // Immediate redirect
        location.replace("https://open.spotify.com/show/19O8JqKPSbQWek15vG3sig?si=065cd2ef2c294d09");
    </script>
</head>
<body>
</body>
</html>
